.nav{
    background: #707070;

}
nav{
    background: #707070;
}
nav:after{
    content: "";
    clear: both;
    display: table;

}
nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}
nav ul li{
    float: left;
    display: inline-block;
    background: ;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
    color: orange;
    border-radius: 5px;
    box-shadow: 0 0 5px #ce740d,
                0 0 5px #c79305
}
nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 190px;
    float: none;
    background: #363d42;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul li a:hover{
    color: orange;
    box-shadow: none;
}
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
   display: none;
}
